html
{
    scroll-behavior: smooth;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    overflow-x: hidden;
}

/*-------------- Designing of header section --------------*/
header
{
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 10px #444;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo 
{
    position: relative;
    color: #fa312a;
    display: inline-block;
    font-size: 2rem;
    text-decoration: solid;
    font-weight: 800;
    opacity: 0;
    text-shadow: 2px 2px 6px #fff;
    animation: slide_left 3s linear forwards;
    animation-delay: 1s;
    
}

@keyframes slide_left
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}




header ul 
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
    transition: 0.6s;
}

header ul li:hover
{
    transform: scale(1.3);
}

header ul li a
{
    display: inline-block;
    color: #0169b2;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: auto;

    
}

header ul li:nth-child(1)
{
    animation: slide_top1 2s linear backwards;
    animation-delay: 3s;
}
header ul li:nth-child(2)
{
    animation: slide_top2 2s linear backwards;
    animation-delay: 4s;
}
header ul li:nth-child(3)
{
    animation: slide_top3 2s linear backwards;
    animation-delay: 5s;
}
header ul li:nth-child(4)
{
    animation: slide_top4 2s linear backwards;
    animation-delay: 6s;
}



@keyframes slide_top1
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_top2
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_top3
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_top4
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}


header ul li a:hover
{
    background: #0169b2;
    color: #fff;
    border-radius: 30px;
    transform: translateY(-5px);
}

/*------------------- Home section designing -------------------*/

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    margin-bottom: 10px;
}
.content
{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.content .textbox 
{
    position: relative;
    max-width: 50vw;
}

.content .textbox h2
{
    color: #0169b2;
    font-size: 3.1rem;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 12px rgb(140, 238, 245);
    animation: section1 2s linear backwards;
    animation-delay: 7.5s;
}

@keyframes section1
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}
.content .textbox h2:hover
{
    color: #fff;
       
}

.content .textbox p
{
    font-size: 1.2rem;
    color: rgb(36, 2, 23);
    animation: sectiontext 2s ease-in-out backwards;
    animation-delay: 8.5s;
    line-height: 35px;
}

.content .textbox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 15px;
    background: #ff5e8e;
    color: #fff;
    font-size: 1.2em;
    border-radius: 40px;
    font-family: 700;
    letter-spacing: 1px;
    text-decoration: none;
    animation: sectiontext 2s ease-in-out backwards;
    animation-delay: 8.5s;
}
@keyframes sectiontext
{
    0%
    {
        transform: translateY(-500px);
        opacity: 0;
    }
    25%
    {
        transform: translateX(0px);
        opacity: 0.3;
    }
    50%
    {
        transform: translateX(0px);
        opacity: 0.5;
    }
    75%
    {
        transform: translateX(0px);
        opacity: 0.8;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}

.mosque
{
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 35%;
    height: 55%;
    margin-top: 10px;
    animation: section1 2s linear backwards;
    animation-delay: 7.5s;
}


/*------------------- Making its responsive -------------------*/

@media (max-width: 991px)
{

    header 
    {
        padding: 20px;

    }

    .navigation
    {
        display: none;
    }
    .navigation.active
    {
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0 ,0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

    }
    header ul li 
    {
        margin: 10px 0;
    }
    header ul li a
    {
        margin-left: 0;
        font-size: 1.7rem;
    }
    .toggle
    {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background: #0169b2 url(images/menu.png) ;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
        border-radius: 3px;
        margin-bottom: 18px;
        transition: 0.7s;
    }
    .toggle.active
    {
        background: #0169b2 url(images/close.png) ;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.7s;
    }
    .mosque
    {
        opacity: 0;
    }
    section {
        padding: 100px 20px;
    }
    .content .textbox 
    {
        position: relative;
        max-width: 100vw;
    }
    .content .textbox h2 
    {
        font-size: 2.5rem;
    }
    .container  {
        width: 80vw;
        min-height: 55vh;
    }
    #img{
        width: 80vw;
        min-height: 40vh;
    }

}

/* ------------- Home sub-part section -----------------*/

#glass
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    overflow: hidden;  
    margin-top: 35px;  
}

#glass::before 
{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#ffc107,#e91e63);
    border-radius: 50%;
    transform: translate(-250px , -120px);
}
#glass::after
{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(#2196f3,#31ff38);
    border-radius: 50%;
    transform: translate(270px , 290px);
}

.box 
{
    position: relative; 
}
.container 
{
    position: relative;
    width: 40vw;
    min-height: 55vh;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px); 
    border-radius: 10px;
}

#img 
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:40vw;
    height: 40vh;
    margin-bottom: 33px;
    border-radius: 10px 10px 0px 0px;
}

.by 
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.by  p {
    padding: 15px 0px 15px 0px;
}


/*---------------- Designing in blog section ----------------*/
.blog 
{
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    margin-top: 60px;
}
.blog h2 
{
    color: #0169b2;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog p {
    margin: 0px 20px;
    line-height: 30px;
}


#myBtn 
{
    margin: 0px 20px;
    color: #fff;
    background: black;
    border-radius: 5px;
    font-size: 15px;
}

/*---------- Designing of about section ----------*/
.aboutsec 
{
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.about
{
    
    position: relative;
    width: auto;
    min-height: auto;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    margin: 40px;

}

.about h2 , .about strong , .about p 
{
    text-align: center;
    padding: 0px 20px;
    line-height: 25px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#insta , #twitter , #facebook
{
    margin: 0 20px;
    color: #000;
    font-size: 35px;
    width: 40px;
    height: 40px;
}

#insta:hover , #twitter:hover , #facebook:hover {
    color: #0169b2;
}

.about h2 
{
    font-size: 1.2rem;
}

/*------------ Designing of contact page ------------*/

.contactpage
{
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.contact 
{
    background: rgb(174, 240, 214);
    margin-top: 40px;
    position: relative;
    width: 300px;
    min-height: 350px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}
.contact form input
{
    font-size: 17px;
}
#name
{
    font-size: 1.3rem;
    
}
.inputdata
{
    border-radius: 5px;
    height: 30px;
}
#btn
{
    font-weight: 100;
    font-size: 15px;
    color: black;
    border-radius: 30px;
    background: linear-gradient(#ff32ff,#3250eb);
    width: 65px;
    height: 30px;
}
#con 
{
    font-size: 1.4rem;
}

.cpy 
{
    margin-top: 15px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right , #8c4cd4 , #c0cc1f);
    border-top: 2px solid #000; 
}

.copyright 
{
    
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
}

.copyright p a  {
    color: #000;
    text-decoration: none;
}

